.mobile-menu__locales {
  padding-top: 0;
  padding-bottom: 0;
}

.mobile-menu__locales .selectors-form {
  justify-content: flex-start;
  margin: 0;
  display: flex;
  flex-direction: column;
  column-gap: 10px;
}

.mobile-menu__locales .selectors-form__item {
  border-bottom: 1px solid var(--dotted-color);
  padding: 5px 0px;
}

.mobile-menu__locales .disclosure {
   position: relative;
}

.mobile-menu__locales noscript .selectors-form__select {
  position: relative;
  white-space: nowrap;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-right: 0;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--background);
  margin: 0;
}

.mobile-menu__locales noscript .selectors-form__select select {
  padding-right: 30px !important;
  margin-bottom: 0;
  max-width: 200px;
}

.mobile-menu__locales noscript .selectors-form__select svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  pointer-events: none;
  fill: var(--text-color);
}

.mobile-menu__locales noscript .localization-form__noscript-btn {
  border: 1px solid var(--text-color);
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0;
  margin-bottom: 0;
}

.mobile-menu__locales .disclosure__toggle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  color: var(--text-color);
  border: 0;
  background-color: var(--background);
  margin: 0;
  width: 100%;
  padding-left: 10px;
}

.mobile-menu__locales .selectors-form__select.disclosure__toggle {
  position: relative;
}

.mobile-menu__locales .disclosure__toggle select {
  margin-bottom: 0;
}

.mobile-menu__locales span.country--flag {
  height: 18px;
  width: 18px;
  border-radius: 50% !important;
  overflow: hidden;
  margin-right: 5px;
  display: flex;
  flex: 0 0 18px;
}
.mobile-menu__locales .disclosure__toggle__flag {
  width: 100% !important;
  height: 18px;
  object-fit: cover;
}
.mobile-menu__locales .disclosure__toggle svg {
  min-width: 20px;
  position: absolute;
  right: 0;
}
.mobile-menu__locales .disclosure__toggle svg:hover g {
  fill: var(--text-color) !important;
}

.mobile-menu__locales .disclosure-list {
  background-color: var(--background);
  border: 1px solid var(--dotted-color);
  border-radius: 5px;
  right: 0;
  padding: 10px 0;
  position: relative;
  display: none;
  min-height: 92px;
  max-height: 320px;
  line-height: 20px;
  text-align: left;
  list-style: none;
  bottom: 105%;
  z-index: 1000;
}

.mobile-menu__locales .disclosure-list--visible {
   display: block;
}

.mobile-menu__locales ul.disclosure--list_ul {
  list-style: none;
  height: 290px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom:0;
}

.mobile-menu__locales .disclosure-list__item {
  padding: 2px 15px !important;
  text-align: left;
  width: 280px;
}

.mobile-menu__locales .disclosure-list__item:active {
   background-color: rgba(128, 128, 128, 0.2);
}

.mobile-menu__locales .disclosure-list__option {
  color: var(--text-color) !important;
  text-decoration: none !important;
  text-transform: capitalize;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  line-height: 1.8;
}

.mobile-menu__locales .disclosure-list__option span.country--name_container {
   opacity: 0.9;
}

.mobile-menu__locales .disclosure-list__item--current .disclosure-list__option span.country--name_container {
   opacity:1;
}
.mobile-menu__locales .disclosure-list__option span.country--name {
   flex: 0 0 auto;
}

.mobile-menu__locales .disclosure-list__option .localization-form__currency {
  flex: 0 0 auto;
}

div#MobileNavLanguageList ul.disclosure--list_ul {
  height: 220px !important;
}

div#MobileNavLanguageList ul.disclosure--list_ul .disclosure-list__item {
  width: 200px;
}